.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-pink {
  background-color: white;
  border-radius: 15px 0px 0px 15px;
  width: 230px;
  display: grid;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}


.price-card-pink {
  border-radius: 15px 0px 0px 15px;
  background: linear-gradient(0deg, rgba(255,127,149,1) 28%, rgba(255,101,127,1) 61%);
  border-bottom-right-radius: 250px;
  position: relative;
  padding: 25px 20px 0px 20px;
}

.card-blue {
  background-color: white;
  border-radius: 15px;
  width: 275px;
  height: 400px;
  display: grid;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

.price-card-blue {
  border-radius: 15px 15px 0px 15px;
  background: linear-gradient(0deg, rgba(0,208,255,1) 28%, rgba(72,175,219,0.902676399026764) 61%);
  border-bottom-right-radius: 250px;
  position: relative;
  padding: 25px 20px 0px 20px;
}

.card-purple {
  background-color: white;
  border-radius: 0px 15px 15px 0px;
  width: 230px;
  display: grid;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

.price-card-purple {
  border-radius: 0px 15px 15px 0px;
  background: linear-gradient(0deg, rgba(212,128,230,1) 28%, rgba(198,34,232,1) 61%);
  border-bottom-right-radius: 250px;
  position: relative;
  padding: 25px 20px 0px 20px;
}

.card-image {
  font-size: 7em;
  position: absolute;
  bottom: 40px;
  left: 10px;
  color: rgba(255,255,255,0.2);
}

.card-content {
  margin-top: 30px;
  margin-bottom: 50px;
}

